<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <script src="https://kit.fontawesome.com/644d6fbffe.js" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>MTG Buscas</title>
</head>
<body id="pesquisa">

<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i></a>
  <a href="#pesquisa" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Pesquisar&nbsp;<i class="fab fa-wizards-of-the-coast"></i></a>
  <a href="/wt_" class="w3-bar-item w3-button w3-hide-small w3-hover-white"> ? </a>
 </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
    <a href="/pesquisa" class="w3-bar-item w3-button">Pesquisa<i class="fab fa-wizards-of-the-coast"></i></a>
    <a href="/wt_" class="w3-bar-item w3-button"> ? </a>
  </div>
</div>

<!-- Modal -->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
    <header class="w3-container w3-teal w3-display-container">
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-teal w3-display-topright"><i class="fa fa-remove"></i></span>
      <h4>&nbsp;</h4>
      <h5>&nbsp;<i class="fa fa-smile-o"></i></h5>
    </header>
    <footer class="w3-container w3-teal">
      <p>&nbsp;</p>
    </footer>
  </div>
</div>

<!-- resultados -->
<div class="w3-container w3-padding-64 w3-center" id="team">
<h2>Achou o que estava procurando?</h2>
    <div class="w3-row"><br>
        {% if ()
                for a in a :%}
        <div class="w3-quarter">
          <img src="/w3images/avatar.jpg" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
          <h3>Johnny Walker</h3>
          <p>Web Designer</p>
        </div>
        {%  %}
    </div>
</div>
<script>
// Script for side navigation
function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "300px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}

// Close side navigation
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>