<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- FontAwesome kit -->
    {#<script src="..\static\script\644d6fbffe.js" crossorigin="anonymous"></script> https://kit.fontawesome.com/644d6fbffe.js #}
    <!-- Bootstrap & CSS -->
    <link rel="stylesheet" href="..\static\css\bootstrap.min.css">
    <link rel="stylesheet" href="..\static\css\font-awesome.min.css">
    <link rel="stylesheet" href="..\static\css\w3.css">
    <link rel="stylesheet" href="..\static\css\w3-theme-black.css">
    <title>MTG Buscas</title>
</head>

<!DOCTYPE html>
<html>
<meta charset="UTF-8">

<body id="myPage" style="max-height:100vh; min-height:80vh">
<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2"
           href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
        <a href="#myPage" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i></a>
        <a href="/pesquisa" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Pesquisar&nbsp;<i
                class="fa fa-magic"></i></a>
        <a href="/wt_" class="w3-bar-item w3-button w3-hide-small w3-hover-white"><i
                class="fa-question-circle-o"></i></a>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
        <a href="/pesquisa" class="w3-bar-item w3-button">Pesquisa<i class="fab fa-wizards-of-the-coast"></i></a>
        <a href="/wt_" class="w3-bar-item w3-button"> ? </a>
    </div>
</div>

<!-- Modal -->
<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-top">
        <header class="w3-container w3-teal w3-display-container">
            <span onclick="document.getElementById('id01').style.display='none'"
                  class="w3-button w3-teal w3-display-topright"><i class="fa fa-remove"></i></span>
            <h4>&nbsp;</h4>
            <h5>&nbsp;<i class="fa fa-smile-o"></i></h5>
        </header>
        <footer class="w3-container w3-teal">
            <p>&nbsp;</p>
        </footer>
    </div>
</div>

{#
            imguri = dados['data'][0]['image_uris']['normal']
            idioma: str = dados['data'][0]['lang']
            custo_m: str = dados['data'][0]['mana_cost']
            cmc: str = dados['data'][0]['cmc']
            p_r: str = (dados['data'][0]['power'] + '/' + dados['data'][0]['toughness'])
            cor: str = dados['data'][0]['colors']
            refs = dados['data'][0]['related_uris']['gatherer']
#}

<!-- Team Container -->
<div class="w3-container w3-padding-64 w3-center" id="team">
    <h2>Achou o que estava procurando?</h2>
    <div class="w3-row"><br>
        {#        {% if ()for a in a :%}#}
        <div class="w3-quarter">
            <img src='{% imguri %}' alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
            <h3>Johnny Walker</h3>
            <p>Web Designer</p>
        </div>
        {#        {%  %}#}
    </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center w3-bottom">
    <div style="position:relative;bottom:20px;z-index:1;" class="w3-tooltip w3-right">
        <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>
        <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
    </div>
</footer>

<script>
    // Used to toggle the menu on smaller screens when clicking on the menu button
    function openNav() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>

</body>
</html>